.wrapper {
	display: flex;
	flex-direction: row;
}

.container {
	max-width: 1010px;
	width: 100%;
	flex-grow: 1;
}

header {
	background-color: #57e6e6;
	border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
	padding: 26px 20px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav {
	height: 56px;
	width: 100%;

	max-width: 1010px;
	margin: 0 auto;
	position: fixed;

	display: flex;
	align-items: center;
	padding: 0 20px;
}

.nav-left {
	width: 33.333%;
	text-align: left;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
}

.nav-center {
	width: 33.333%;
	text-align: center;
}

.nav-right {
	width: 33.333%;
	text-align: right;
}

section {
	margin-top: 16px;
}

@media screen and (min-width: 415px) {
	.container {
		flex-direction: row;
	}
}

@media (max-width: 499px) {
	.nav-left {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media (max-width: 499px) {
	.nav-center {
		display: none;
	}
}

@media (max-width: 499px) {
	.nav-right {
		display: none;
	}
}
