/* .wrapper {
	display: flex;
	flex-direction: row;
} */

/* .container {
	margin: auto;
	max-width: 75rem;
	display: flex;
	flex-direction: row;

	width: 100%;
	max-width: 1010px;
	margin: 0 auto;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin-top: 9vh;
}

@media (max-width: 400px) {
	.content-wrapper {
		margin-top: 15vh;
	}
} */
