.DashboardContainer {
	margin: auto;
	max-width: 1010px;
	max-width: 75rem;
}

section {
	flex: 1;
}

aside {
	margin: 0 0 0 20px;
	flex: 0 1 300px;
}

.section-title {
	line-height: 50px;
}

@media screen and (min-width: 640px) {
	.DashboardContainer {
		display: flex;
	}
}
