.sign-in {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	padding: 5px;
}

.title {
	margin: 10px 0;
}

.buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.col {
	flex: 1;
}

.authError {
	color: red;
}

@media (max-width: 400px) {
	.sign-in {
		display: block;
		width: 100%;

		padding: 0 20px;
		box-sizing: border-box;
	}

	.title,
	.text-grey {
		display: flex;
		justify-content: center;
	}
}
